/* @media screen and (max-width: 479px) {
  :root {
      /* mobile vars 
  }
}
*/

:root {
  --color-white: whitesmoke;
  --color-dark: #222222;
  --color-dark-transparent: #0c1112f2;
  --color-error: firebrick;
  --color-warning: firebrick;
  --color-success: firebrick;
  --color-1: #61dafb;
  --color-2: #407192;
  --color-3: #D7E6F5;
  --height-header: 70px;
  --height-footer: 120px;
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 20px;
  --spacing-l: 40px;
  --spacing-xl: 60px;
  --font-size-xs: .6rem;
  --font-size-s: .85rem;
  --font-size-m: .9rem;
  --font-size-l: 1.2rem;
  --font-size-xl: .9rem;
  --font-1: "Slabo 27px", serif;
  --font-2: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans",
  "Segoe UI", "Helvetica", Arial, sans-serif;
}

